{{page-title "Index"}}

<div class="twelve wide stretched column">
  <div class="ui segment">
    <div  class="ui one column grid">
      <div class="column">
        <div class="ui attached segment">
          Gestion du store
        </div>

        <div class="ui attached green segment">
          <LinkTo class="button ui" @route="sections.index.add">Ajouter une section</LinkTo>
          <LinkTo class="button ui" @route="sections.index.addProduct">Ajouter un produit</LinkTo>
        </div>

        <div class="ui attached green segment">
          <table class="ui striped table">
            <tbody>
            {{#each @model as |section|}}
            <tr>
              <td>{{section.name}}</td>
              <td>{{section.products.length}}</td>
            </tr>
            {{/each}}
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>

{{outlet}}