{{page-title "Board"}}
<div class="ui segment">
  <h2>Orders</h2>
  <ul>
    {{#each @model.orders as |order|}}
      <li>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}